# Documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
NamespaceIndentation: All

KeepEmptyLinesAtTheStartOfBlocks: true
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true

BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
PointerAlignment: Middle

BreakBeforeBinaryOperators: All

SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SortUsingDeclarations: true
SortIncludes: true

AlignTrailingComments: true
